{% extends "web/base.html" %}
{% block title %}About — NLL Fantasy{% endblock %}
{% block content %}
  <h1>About</h1>
  <p>Welcome to the NLL Fantasy website
  , your go-to platform for managing your fantasy lacrosse teams. Here, you can view team rosters, <br>
  player statistics, schedules, and league standings. Whether you're a seasoned fantasy player or <br>
  just getting started, our site provides all the tools you need to enjoy the NLL Fantasy experience. <br>
  Good luck and have fun!<br>
  We are hoping this site will grow into a full-featured fantasy lacrosse platform over time. helping <br>
  fans get involved and grow the game of lacrosee and gain more fans.<br>
  <br>

  Rosters will have a Maximum of:<br>
12 total Players<br>
11 total Runners<br>
6 Forwards<br>
6 Defence<br>
2 Goalies<br>
<br>
Scoring will be a Best Ball format, where only the highest scoring players at each position contribute<br> 
to the team's total score. 
It will take the top 3 Forwards, top 3 Defence, and top 1 Goalie from the roster each week to calculate<br>
the team's score. Players listed as transition will count as either a Forward or Defence, depending on<br>
which yields the highest score for the team that week.<br>


  </p>
{% endblock %}